* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Arial", sans-serif;
}

body {
background-color: #f0c4d9;
padding: 20px;
}

header {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #e698b3;
padding: 20px;
border-radius: 8px;
color: white;
margin-bottom: 30px;
}

header h1 {
font-size: 28px;
}

.icones {
font-size: 24px;
}

.produtos {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
gap: 30px;
}

.produto {
background-color: #fff;
border-radius: 16px;
padding: 15px;
text-align: center;
transition: transform 0.2s;
}

.produto:hover {
transform: scale(1.03);
}

.produto img {
width: 100%;
height: auto;
border-radius: 10px;
}

.produto h3 {
font-size: 15px;
margin-top: 10px;
color: #333;
}

.produto p {
color: #c33d7c;
font-weight: bold;
margin-top: 8px;
}